* {
  box-sizing: border-box;
  padding:0;
  margin:0;
}

body {
  font-family: Arial;
  margin: 0;
}

header {
  background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);;
  color: #fff;
}

h1 {
  background-color: lightgoldenrodyellow;
  display: inline-block;
  color:darkgray;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.links  {
  text-align: right;
  
}

a {
  color: rgb(72, 73, 72);
  text-decoration: none;
  font-size: 20px;

}
